
  <div class="modal-body border-0 m-4 p-4">
    <div>
      <h3 class="modal-title text-center w-100 text-primary fw-semibold mb-2">
        {{ 'Price Negotiation' | translate }}
      </h3>
      <p class="text-center font-14 text-primary-light mb-2">
        {{ 'Do You Want To Negotiate The Vehicle Price With The Seller?' | translate }}
      </p>
    </div>
  </div>
  <div class="modal-footer justify-content-center border-0 mb-4">
    <button type="submit" class="btn primary-btn" (click)="onSubmit()">
      {{ 'Yes' | translate }}
    </button>
    <button type="button" class="btn primary-btn-outline " (click)="activeModal.close(false)">
      {{ 'No' | translate }}
    </button>
  </div>
