<section class="section bg-blue pb-3">
  <div class="jakay-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-md-flex justify-content-between align-items-center section-header">
          <div class="mb-2 mb-sm-0">
            <h3 class="font-38 text-primary fw-semibold">
              {{ "Notifications" | translate }}
            </h3>
          </div>
          <div class="d-sm-flex align-items-center" *ngIf="!loading">
            <div class="d-flex">
              <label class="me-2 text-primary fw-medium">
                {{ "All Notification" | translate }}
              </label>
              <div class="d-flex align-items-center me-4 form-group mb-0 switch-wrp">
                <input type="checkbox" name="checkbox-list" id="switch0" (click)="allowNotification($event)"
                  [checked]="isPublished" />
                <label class="switch" for="switch0">Toggle</label>
              </div>
            </div>
            <a href="javascript:void(0)" class="me-4 font-18 text-underline text-purple" (click)="markAsReadAll()">{{
              "Read All" | translate }}</a>
            <a href="javascript:void(0)" class="font-18 text-underline text-red" (click)="deleteAll()">{{ "Delete All" |
              translate }}</a>
          </div>
        </div>
        <ng-container *ngIf="!loading; else loader">
          <ng-container *ngIf="notificationList.length; else noNotification">
            <ng-container *ngFor="let notification of notificationList; let i = index">
              <div class="notification__box position-relative bg-white w-100 p-4 br-12 mb-3"
                [ngClass]="notification.status === 'unread' ? 'active' : ''">
                <div class="d-flex align-items-center justify-content-between c-pointer"
                  (click)="markAsReadSingle(notification, i)">
                  <div class="d-flex align-items-sm-start">
                    <div class="text-box">
                      <h5 class="font-22 text-primary fw-medium mb-2">
                        {{ notification.title }}
                      </h5>
                      <p class="text-purple-2 font-16 mb-3"> {{ notification.type != 'CHAT_NEW_MESSAGE' ?
                        notification.message : ('Sent you a message' | translate ) + ' : ' + notification.message }}</p>
                      <p class="text-purple-2 font-12">
                        {{ notification.created_at | date : "hh:mm a" }}
                        <span class="px-3 text-purple-2 font-12">{{
                          notification.created_at | date : "dd-MMM-yyyy"
                          }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <pagination *ngIf="notificationList.length" [paginationData]="paginationData"
              (selectedPage)="jumpToThePage($event)">
            </pagination>
          </ng-container>
          <ng-template #noNotification>
            <div class="notification__box position-relative bg-white w-100 p-4 br-12 mb-3">
              <div class="text-box">
                <h5 class="font-22 text-primary fw-medium mb-2 text-center">
                  {{ "No notification exist" | translate }}
                </h5>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
  </div>
</section>
