<div class="procedure-box">
  <div class="row justify-content-between">
      <div class="d-flex justify-content-between align-items-center mb-5">
          <h4 class="text-secondary font-22"><span class="step-number">1</span> Request for Documents</h4>
          <p class="text-secondary font-16">Expected Time:<span class="fw-semibold"> 3 {{ "Days" | translate }}</span></p>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12">
          <h5 class="text-primary font-16 fw-semibold mb-4 underline-wrp">Required Documents</h5>
          <div class="check-form">
              <div class="form-group">
                  <div class="radio-check checkbox-check br-12 me-3 mt-3">
                      <div class="form-check form-check-inline check-bg-none">
                          <input class="form-check-input" type="checkbox" name="request-doc" id="resignation-policy" value="resignation-policy" Checked>
                          <label class="form-check-label" for="resignation-policy">Registration payment</label>
                          <span class="check-checkmark"></span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="radio-check checkbox-check br-12 me-3 mt-3">
                      <div class="form-check form-check-inline check-bg-none">
                          <input class="form-check-input" type="checkbox" name="request-doc" id="transfer-payment" value="transfer-payment" Checked>
                          <label class="form-check-label" for="transfer-payment">Ownership transfer payment</label>
                          <span class="check-checkmark"></span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="radio-check checkbox-check br-12 me-3 mt-3">
                      <div class="form-check form-check-inline check-bg-none">
                          <input class="form-check-input" type="checkbox" name="request-doc" id="tax-payment" value="tax-payment">
                          <label class="form-check-label" for="tax-payment">Tax payments to the municipality</label>
                          <span class="check-checkmark"></span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="radio-check checkbox-check br-12 me-3 mt-3">
                      <div class="form-check form-check-inline check-bg-none">
                          <input class="form-check-input" type="checkbox" name="request-doc" id="fine-payment" value="fine-payment">
                          <label class="form-check-label" for="fine-payment">Payment of fines and infractions (seller)</label>
                          <span class="check-checkmark"></span>
                      </div>
                  </div>
              </div>
              <div class="form-group mb-0">
                  <div class="radio-check checkbox-check br-12 me-3">
                      <div class="form-check form-check-inline check-bg-none">
                          <input class="form-check-input" type="checkbox" name="request-doc" id="appointment-request" value="appointment-request">
                          <label class="form-check-label" for="appointment-request">Appointment request in the ANT application. (All these payments must be made where the buyer lives)</label>
                          <span class="check-checkmark"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-7 col-lg-6 col-md-12 border-left">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h5 class="text-primary font-16 fw-semibold underline-wrp mb-0">Uploaded Documents</h5>
              <button class="upload-doc-btn outline-btn"><img src="images/upload-icon.svg" width="16px" class="me-3">Upload Document</button>
          </div>
          <div class="row">
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
              <div class="document-uploded-wrp mb-3 col-xl-2 col-lg-3 col-md-4 justify-content-center">
                  <div class="position-relative">
                  <div class="uploded-document ">
                      <img src="images/expert-evolution/report-2.png">
                  </div>
                  <span class="delete-doc">&times;</span>
                  </div>
                  <p class="font-10 fw-light text-purple mt-2">Document_1.pdf</p>
              </div>
          </div>
      </div>
  </div>
</div>
