
      <div class="modal-header border-0">
        <button type="button" class="btn-close p-4"  (click)="activeModal.dismiss('Cross click')" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body border-0">
        <h3 class="modal-title text-center w-100 text-primary fw-semibold mb-2">{{ 'Reset Password' | translate }}</h3>
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <form [formGroup]="form" >
              <div class="forgot-pass-wrp modal-body-radio-icon mt-4">
                <div class="row">

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="mb-3 d-block">{{ 'Password' | translate }} </label>
                      <input appFocus formControlName="password"   class="form-control" [ngClass]="{ 'is-invalid': formControls.password.invalid && submitting }"  type="{{password_type}}" placeholder="{{'Enter Password' | translate}}">
                      <img *ngIf="password_type == 'password'" (click)="password_type = 'text'" src="assets/images/eye.svg"
                      class="input-icon">
                      <img *ngIf="password_type == 'text'" (click)="password_type = 'password'" src="assets/images/eye-open.svg"
                        class="input-icon">
                     <div *ngIf="formControls.password.invalid && submitting"
                           class="align-left text-danger fs-13 mb-2">
                        <div *ngIf="formControls.password.errors?.required">
                          {{ 'PasswordRequired' | translate }}
                        </div>
                        <div class="align-left text-danger fs-13 mb-2" *ngIf="formControls.password.errors?.cannotContainSpace">
                          <!-- Password cannot contain space. -->
                          {{ 'SpaceNotAllow' | translate }}
                        </div>
                        <div
                        *ngIf="formControls.password.errors?.pattern"
                        class="invalid-feedback"
                      >
                      {{ 'PasswordHint' | translate }}
                      </div>

                      </div>
                      <div class="text-secondary hint-custom">
                        <!-- Hint: Password must have a minimum of 8 characters including 1
                        uppercase letter, 1 lowercase letter, 1 special
                        character, and 1 number -->
                        {{ 'PasswordHint' | translate }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="mb-3 d-block"> {{ 'Re Enter New Password' | translate }} </label>
                      <input appFocus formControlName="confirm_password"   class="form-control" [ngClass]="{ 'is-invalid': (formControls.confirm_password.invalid || form.hasError('mismatchedPasswords')) && submitting }"  type="{{confirmpass_type}}" placeholder="{{'Enter Password' | translate}}" >
                      <img *ngIf="confirmpass_type == 'password'" (click)="confirmpass_type = 'text'" src="assets/images/eye.svg"
                      class="input-icon">
                      <img *ngIf="confirmpass_type == 'text'" (click)="confirmpass_type = 'password'" src="assets/images/eye-open.svg"
                        class="input-icon">
                      <div *ngIf="formControls.confirm_password.invalid && submitting"
                           class="align-left text-danger fs-13 mb-2">
                        <div *ngIf="formControls.confirm_password.errors?.required">
                          {{ 'PasswordRequired' | translate }}
                        </div>
                        <div class="align-left text-danger fs-13 mb-2" *ngIf="formControls.confirm_password.errors?.cannotContainSpace">
                         <!-- Password can not contain space. -->
                         {{ 'SpaceNotAllow' | translate }}
                        </div>
                      </div>
                      <div class="align-left text-danger fs-13 mb-2" *ngIf="form.hasError('mismatchedPasswords')&& submitting ">
                        <!-- Passwords do not match. -->
                        {{ 'PasswordMisMatch' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center border-0">
        <button (click)="onSubmit()" type="button" class="btn primary-btn" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#changedModal">{{ 'Reset Password' | translate }}</button>
      </div>











