<div class="modal-header border-0">
  <button
    type="button"
    class="btn-close p-md-4 p-2"
    data-bs-dismiss="modal"
    (click)="activeModal.dismiss('Cross click')"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body border-0 m-4">
  <div>
    <h3 class="modal-title font-28 text-center w-100 text-primary fw-semibold mb-2 p-1">
      {{ 'Are Your Sure You Want To Cancel This Expert Review?' | translate }}
    </h3>
    <!-- <p class="text-center font-14 text-primary-light mb-3 p-1">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has
      roots in a piece of classical Latin literature from 45 BC, making it over
      2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words,
      consectetur, from a Lorem Ipsum passage, and going through the cites of
      the word in classical literature, discovered the undoubtable source. Lorem
      Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
      Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
      book is a treatise on the theory of ethics, very popular during the
      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
      amet..", comes from a line in section 1.10.32.
    </p>
    <p class="text-center font-14 text-primary-light mb-3 p-1">
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
      for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
      Bonorum et Malorum" by Cicero are also reproduced in their exact original
      form, accompanied by English versions from the 1914 translation by H.
      Rackham.
    </p> -->
  </div>
</div>
<div class="modal-footer d-flex justify-content-center border-0 mb-5">
  <button
    type="button"
    class="btn primary-btn-outline btn-lg"
    (click)="activeModal.close(false)"
  >
    {{ 'No' | translate }}
  </button>
  <button type="submit" class="btn primary-btn btn-lg" (click)="onSubmit()">
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      *ngIf="loading"
      aria-hidden="true"
    ></span>
    {{ 'Yes' | translate }}
  </button>
</div>
