@import "../../../../../../function";
@import "../../../../../../variables";
.vehicle-review-wrp {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;

  .form-check-inline input[type="radio"]:checked + label,
  .form-check-inline input[type="checkbox"]:checked + label {
    background-color: transparent !important;
  }

  .dot-checkmark {
    left: 0px;
  }

  .form-check-inline label {
    font-size: 1rem;
    height: auto !important;
    padding-left: 40px;
    // @include for-tablet-portrait-up {
    //   padding-left: 40px !important;
    // }
  }

  .textarea-wrp {
    .dot-checkmark {
      top: 30%;
    }
    .reject-checkmark {
      top: 8%;
    }
    .text-label-wrp {
      padding-left: 40px;
    }

    textarea {
      max-width: 100%;
      @include for-tablet-portrait-up {
        max-width: 70%;
      }
    }
  }
}

.approved {
  color: #46bc39;
}

.rejected {
  color: #ee3232;
}

.no-loger-purchase {
  display: inline-block;
  background-color: transparent;
  padding: 20px 20px;
  font-size: 1rem;
  color: #3b1144;
  border: 1px solid rgba(137, 112, 143, 0.5);
  border-radius: 12px;
  width: 100%;
  padding-left: 50px;
  cursor: pointer;
}

.custom-checkbox {
  position: relative !important;
  // top: 0px !important;
  top: 5px !important;
  left: 25px !important;
  z-index: 10 !important;
  opacity: 0 !important;
  width: 24px !important;
}
.font {
  &-24 {
    font-size: 24px;
    @media (max-width: 1400px){
        font-size: 22px;
    }
  }
  &-15 {
    font-size: 15px;
    @media (max-width: 1400px){
        font-size: 13px;
    }
  }
}
