<div class="modal-header border-0">
  <button type="button" class="btn-close p-4" (click)="activeModal.dismiss('Cross click')" aria-label="Close"></button>
</div>
<div class="modal-body border-0">
  <h3 class="modal-title text-center w-100 text-primary fw-semibold mb-2">{{ 'Forgot Password' | translate }}</h3>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p *ngIf="!isForAdmin" class="text-center font-14 font-sm-10 text-primary-light mb-sm-3 mb-0"> {{ "Forgot Password Message" | translate }}</p>
      <p *ngIf="isForAdmin" class="text-center font-14 font-sm-10 text-primary-light mb-sm-3 mb-0">
        {{ "Admin Forgot Password Message" | translate }} </p>
    </div>
    <div class="col-lg-7">
      <form [formGroup]="forgotPassword" #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="forgot-pass-wrp modal-body-radio-icon mt-4">
          <div class="row">
            <div class="col-md-6" *ngIf="!isForAdmin">
              <div class="radio-check br-12">
                <div class="form-check form-check-inline form-group">
                  <input class="form-check-input" (click)="changeLogintype(true)" formControlName="login_type" type="radio" id="viaemail" value="email">
                  <label class="form-check-label" for="viaemail"> {{ "Via email" | translate }}<img
                      src="assets/images/envelop-icon-black.svg"></label>
                  <span class="dot-checkmark"></span>
                </div>
              </div>
            </div>
            <div class="col-6" *ngIf="!isForAdmin">
              <div class="radio-check br-12">
                <div class="form-check form-check-inline form-group" >
                  <input class="form-check-input" (click)="changeLogintype(false)" formControlName="login_type" type="radio" id="viasms" value="mobile">
                  <label class="form-check-label" for="viasms">{{ "Via SMS" | translate }} <img
                      src="assets/images/phone-icon-black.svg"></label>
                  <span class="dot-checkmark"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div *ngIf="isEmailSelected || isForAdmin" class="form-group via-email">
                <label class="mb-3 d-block">{{ "Enter registered email" | translate }}</label>
                <input type="email" class="form-control" formControlName="email"
                  [ngClass]="{ 'is-invalid':  form.submitted && !forgotPasswordControls.email.valid }" type="text"
                  placeholder="Enter Email" placeholder="{{ 'Enter registered email' | translate }}">
                <div *ngIf="forgotPasswordControls.email.errors?.required" class="invalid-feedback">
                  {{ "EmailRequired" | translate }}
                </div>
                <div *ngIf="forgotPasswordControls.email.errors?.pattern" class="invalid-feedback">
                  {{ "InvalidEmail" | translate }}
                </div>
              </div>
              <div *ngIf="!isEmailSelected && !isForAdmin" class="form-group via-number">
                <label class="mb-3 d-block">{{ "Enter registered Mobile number" | translate }}</label>
                <ngx-intl-tel-input [cssClass]="'form-control w-100'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  (countryChange)="clearCountrySearchBox()"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Ecuador" [maxLength]="15" [phoneValidation]="true"
                  [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="mobile_no"
                  formControlName="mobile_no" (input)="formatNumber($event)">
                </ngx-intl-tel-input>
                <div *ngIf="form.form.value.mobile_no && form.form.controls['mobile_no'].errors" class="text-danger">
                  {{ "InvalidMobileError" | translate }}
                </div>
                <div *ngIf="forgotPasswordControls.mobile_no.errors?.required && form.submitted" class="text-danger"
                  style="font-size: .875em;">
                  {{ "MobileRequired" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center border-0">
          <button type="submit" class="btn btn-md primary-btn forgot-btn" data-bs-toggle="modal"
            data-bs-target="#mobile-verification-Modal" data-bs-dismiss="modal" >{{ 'Send' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
