<div class="col-lg-4 mt-4">
  <div class="bg-white br-12 p-4 mt-4">
    <div class="d-flex align-items-start justify-content-between">
      <h5 class="font-18 text-primary fw-regular mt-1">Total earning per post</h5>
      <div class="d-inline-flex flex-grow-1 justify-content-end">
        <div class="filter-box cusotmer-heading ms-3">
          <div class="form-group position-relative mb-0">
            <div class="doropdown_radio">
              <button class="btn btn-white dropdown-toggle btn-dropdown text-primary font-10 fw-regular" type="button"
                id="filter" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/images/calender.svg" class="input-icon"> March 1, 2023 - March 31, 2023
              </button>
              <ul class="dropdown-menu vehicle-type-menu vehicle-dropdown-menu br-5" aria-labelledby="filter">
                <li><a class="dropdown-item px-2 dropdown-car-brand" href="javascript:void(0);">Today</a></li>
                <li><a class="dropdown-item px-2 dropdown-car-brand" href="javascript:void(0);">Yesterday</a></li>
                <li><a class="dropdown-item px-2 dropdown-car-brand" href="javascript:void(0);">Last 7 Days</a></li>
                <li><a class="dropdown-item px-2 dropdown-car-brand" href="javascript:void(0);">2019</a>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="data-wrp">

    </div>
  </div>
</div>
