<div class="page-wrapper bg-light-gray page-wrapper--login p-3 p-lg-4">
  <div class="row align-items-stretch pb-4">
    <div class="col-xl-6 col-lg-6 col-md-12">
      <div class="background-image h-100">
        <img
          src="../../../assets/images/singin-bg2.png"
          alt="Riku"
          class="jakay-bg"
        />
        <h1 class="align-justify fw-regular mb-0">
          {{ "A perfect platform to buy or" | translate }} {{ "sell your car" | translate }}
        </h1>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 p-3 ">
      <div class="px-xxl-5 mx-xs-4 mx-0 mt-lg-0 mt-4 set-border p-3">
        <div class="jakay-logo-wrp text-center mb-3 mb-md-5 ">
          <img
            src="../../../assets/images/riku-logo.svg"
            width="60%"
            height="auto"
            alt="Riku Marketplace"
            class="logo"
          />
        </div>
        <div
          class="d-sm-flex justify-content-between align-items-center w-100 mb-4 mb-sm-0 pb-2"
        >
          <h2 class="h2 text-primary fw-semibold mb-0">
            {{ "Sign In" | translate }}
          </h2>
          <a class="text-primary mb-0 fw-semibold " routerLink="/auth/signup"
            >{{ "NoAccount" | translate }}
            <span class="text-secondary fw-semibold ">{{
              "Register us" | translate
            }}</span></a
          >
        </div>
        <hr class="seprator" />
        <div class="signup-form mt-4 pt-2">
          <form
            class="form-content"
            autocomplete="off"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
          >
            <div class="user-selection-wrp row">
              <div class="col-md-12 user-type-wrp">
                <div class="form-group">
                  <label class="mb-xl-3 mb-lg-2 mb-2 d-block">{{
                    "Select User Type" | translate
                  }}</label>
                  <div class="row gx-2 gx-sm-3">
                    <!-- <div class="col-6 col-sm-6">
                      <div class="radio-check radio--check br-12">
                        <div class="form-check form-check-inline">
                          <input
                            formControlName="type"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid':
                                formControls?.type?.errors?.required &&
                                submitting
                            }"
                            type="radio"
                            name="type"
                            id="Seller"
                            value="seller"
                            checked
                          />
                          <label class="form-check-label justify-content-center" for="Seller">{{
                            "Seller" | translate
                          }}</label>
                          <span
                            class="dot-checkmark"
                            (click)="formControls.type.setValue('seller')"
                          ></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4">
                      <div class="radio-check radio--check br-12">
                        <div class="form-check form-check-inline">
                          <input
                            formControlName="type"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid':
                                formControls?.type?.errors?.required &&
                                submitting
                            }"
                            type="radio"
                            name="type"
                            id="Buyer"
                            value="buyer"
                          />
                          <label class="form-check-label shw justify-content-center" for="Buyer">{{
                            "Buyer" | translate
                          }}</label>
                          <span  *ngIf="formControls.type.value === 'buyer'"
                            class="dot-checkmark"
                            (click)="formControls.type.setValue('buyer')"
                          ></span>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-6 col-sm-6">
                      <div class="radio-check radio--check br-12">
                        <div class="form-check form-check-inline">
                          <input
                            formControlName="type"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid':
                                formControls?.type?.errors?.required &&
                                submitting
                            }"
                            type="radio"
                            name="type"
                            id="User"
                            value="user"
                          />
                          <label class="form-check-label shw justify-content-center" for="User">{{
                            "User" | translate
                          }}</label>
                          <span  *ngIf="formControls.type.value === 'user'"
                            class="dot-checkmark"
                            (click)="formControls.type.setValue('user')"
                          ></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-6">
                      <div class="radio-check radio--check br-12">
                        <div class="form-check form-check-inline">
                          <input
                            formControlName="type"
                            class="form-check-input"
                            [ngClass]="{
                              'is-invalid':
                                formControls?.type?.errors?.required &&
                                submitting
                            }"
                            type="radio"
                            name="type"
                            id="Dealer"
                            value="dealer"
                          />
                          <label class="form-check-label shw justify-content-center" for="Dealer">{{
                            "Dealer" | translate
                          }}</label>
                          <span  *ngIf="formControls.type.value === 'dealer'"
                            class="dot-checkmark"
                            (click)="formControls.type.setValue('dealer')"
                          ></span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="align-left text-danger fs-13 mb-2"
                      *ngIf="
                        formControls?.usertype?.errors?.required && submitting
                      "
                    >
                      {{ "ErrorUserType" | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- first-step -->
            <div class="form-steps mt-0">
              <div class="row">
                <!-- Email -->
                <div class="col-md-12">
                  <div class="form-group lable--icon">
                    <label class="mb-xl-3 mb-lg-2 mb-2 d-block">{{
                      "Email or Phone Number" | translate
                    }}</label>
                    <div class="input-container">

                      <img class="input-icon-l" src="assets/images/correo.svg" alt="Mi Icono">
                      <input
                        appFocus
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': formControls.email.invalid && submitting
                        }"
                        type="text"
                        placeholder="{{ 'EmailOrPhonePlaceholder' | translate }}"
                      />
                    </div>

                    <div
                      *ngIf="formControls.email.invalid && submitting"
                      class="align-left text-danger fs-13 mb-2"
                    >
                      <div *ngIf="formControls.email.errors?.required">
                        {{ "EmailRequired" | translate }}
                      </div>
                      <div
                        class="align-left text-danger fs-13 mb-2"
                        *ngIf="formControls.email.errors?.invalidEmail"
                      >
                        {{ "InvalidEmailOrPhone" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Line -->
                <!-- <div class="col-md-12">
                  <p class="horizontal-line">
                    <span class="d-inline-block bg-white font-14"> or</span>
                  </p>
                </div> -->
                <!-- Mobile number -->

                <!-- <div class="col-sm-12">
                  <div class="form-group">
                    <label class="mb-xxl-3 mb-xl-2 mb-2 d-block">{{
                      "Mobile Number" | translate
                    }}</label>
                    <ngx-intl-tel-input
                      [cssClass]="'form-control w-100'"
                      [preferredCountries]="preferredCountries"
                      [enableAutoCountrySelect]="true"
                      [enablePlaceholder]="true"
                      [searchCountryFlag]="true"
                      [searchCountryField]="[
                        SearchCountryField.Iso2,
                        SearchCountryField.Name
                      ]"
                      [selectFirstCountry]="false"
                      [selectedCountryISO]="CountryISO.Ecuador"
                      [maxLength]="15"
                      [phoneValidation]="true"
                      [separateDialCode]="separateDialCode"
                      [numberFormat]="PhoneNumberFormat.National"
                      (countryChange)="clearCountrySearchBox()"
                      name="mobile_no"
                      formControlName="mobile_no"
                    >
                    </ngx-intl-tel-input>
                    <div
                      *ngIf="
                        formControls.mobile_no.value &&
                        formControls.mobile_no.errors &&
                        submitting
                      "
                      class="text-danger"
                    >
                      {{ "InvalidMobileError" | translate }}
                    </div>

                    <div
                      *ngIf="
                        formControls.mobile_no.errors?.required && submitting
                      "
                      class="text-danger"
                      style="font-size: 0.875em"
                    >
                      {{ "MobileRequired" | translate }}
                    </div>
                  </div>
                </div> -->
                <!--  -->

                <!--  -->
                <div class="col-sm-12">
                  <div class="form-group lable--icon">
                    <label class="mb-xl-3 mb-lg-2 mb-2 d-block">
                      {{ "Password" | translate }}</label
                    >
                    <img class="input-icon-l" src="assets/images/password.svg" alt="Mi Icono">

                    <input
                      appFocus
                      autocomplete="new-password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          formControls.password.invalid && submitting
                      }"
                      type="{{ type }}"
                      placeholder="{{ 'PasswordPlaceHolder' | translate }}"
                      value="Password"
                    />

                    <img
                      *ngIf="type == 'password'"
                      (click)="showPassword()"
                      src="assets/images/eye-close2.svg"
                      class="input-icon bg-purple-eye shw"
                    />
                    <img
                      *ngIf="type == 'text'"
                      (click)="showPassword()"
                      src="assets/images/ojoabierto.svg"
                      class="input-icon bg-purple-eye shw"
                    />
                    <div
                      *ngIf="formControls.password.invalid && submitting"
                      class="align-left text-danger fs-13 mb-2"
                    >
                      <div *ngIf="formControls.password.errors?.required">
                        {{ "PasswordRequired" | translate }}
                      </div>
                      <!-- <div class="align-left text-danger fs-13 mb-2" *ngIf="formControls.password.errors?.cannotContainSpace">
                            password cannot contain space
                          </div> -->
                    </div>
                  </div>
                </div>
                <div
                  class="d-sm-flex col-md-12 align-items-center justify-content-between"
                >
                  <div class="form-group">
                    <div
                      class="radio-check radio--check checkbox-check br-12 me-3"
                    >
                      <div class="form-check form-check-inline check-bg-none">
                        <input
                          class="form-control form-check-input custom-checkbox"
                          type="checkbox"
                          id="rememberMe"
                          (change)="isRememberMe = !isRememberMe"
                          [checked]="isRememberMe"
                        />
                        <label
                          class="form-check-label remember-me-label custom-checkbox-label"
                          for="rememberMe"
                        >
                          {{ "Remember Me?" | translate }}</label
                        >
                        <span class="check-checkmark"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <a
                      href="javascript:void(0)"
                      (click)="openForgot()"
                      class="forgot-link text-primary fw-semibold "
                      >{{ "Forgot Password" | translate }}</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="next-button mt-2 d-flex justify-content-center static-bottom-btn"
              >
                <button type="submit" class="btn primary-btn btn-lg btn-sm sign-in shw">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  {{ "Sign In" | translate }}
                </button>
              </div>

              <!-- <a
                (click)="validateUser()"
                *ngIf="resend"
                class="primary lg mt-3"
                style="cursor: pointer"
              >
                Resend {{ verificationName }}
              </a> -->
            </div>
          </form>

          <!-- End first-step -->
        </div>
      </div>
    </div>
  </div>
</div>
