@import "../../../../../function";
@import "../../../../../variables";
:host >>> .report {
  &__accordion {
    padding-bottom: 50px;
    & .accordion-item {
      border: none;
      border-bottom: 0.5px solid $purple-grey;
      border-radius: 0;
    }
    & .accordion-button {
      // border-bottom: 0.5px solid $purple-grey;
      box-shadow: none;

      &::after {
        background-image: url("../../../../../assets/images/contact/chevron-down.svg");
        width: 40px;
        height: 40px;
        background-size: cover;
      }
      &:not(.collapsed)::after {
        background-image: url("../../../../../assets/images/contact/chevron-up.svg");
      }
    }
  }
  &__sub-accordion {
    & .accordion-button {
      box-shadow: none;
      &::after {
        background-image: url("../../../../../assets/images/contact/round-plus.svg");
        background-size: cover;
        width: 30px;
        height: 30px;
      }
      &:not(.collapsed)::after {
        background-image: url("../../../../../assets/images/contact/round-minus.svg");
      }
    }
  }

  &__accordion {
    .title {
      margin-top: 75px;
    }
  }
}

:host >>> .title {
  &.bottom-border-style {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #2f779c;
      width: 298px;
      max-width: 100%;
      height: 2px;
    }
    &.border-170 {
      &:after {
        width: 170px;
      }
    }
  }
}
//   table

:host >>> .report-table {
  box-shadow: 0px 3px 10px #b1a0b470;

  tr {
    td {
      font-size: 14px;
    }
  }
  table thead th,
  table tbody td {
    padding: 12px 10px;
  }
  table thead th:first-child,
  table tbody td:first-child {
    padding-left: 15px;
  }
  table {
    &.border-radius-none {
      thead {
        th {
          border-radius: 0;

          &:first-child,
          &:last-child {
            border-radius: 0;
          }
        }
      }
    }
    thead {
      border-radius: 6px;
      background: rgba($color: $secondary-color, $alpha: 0.1);
      th {
        color: #191919;
        font-size: 14px;
        padding: 15px;
        font-weight: 600;
      }
      th:first-child {
        border-radius: 10px 0 0 10px;
        padding-left: 30px;
      }

      th:last-child {
        border-radius: 0 10px 10px 0;
        padding-right: 30px;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #d5dce6;
        &:last-child {
          border-bottom: 0px transparent;
        }
      }
      td {
        vertical-align: middle;
        padding: 15px 15px;

        &:first-child {
          padding-left: 30px;
        }

        &:last-child {
          padding-right: 30px;
        }
        .small-img-list {
          border-radius: 12px;
          overflow: hidden;
          width: 40px;
          height: 40px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

/* radio checkbox button */

:host >>> .control-checkmark {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid rgba(137, 112, 143, 0.5);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  /* z-index: -1; */
}

:host >>> .form-inline-check {
  position: relative;
  height: 18px;
}

:host >>> .form-inline-check input[type="radio"],
.form-inline-check input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
  cursor: pointer;
}

:host
  >>> .form-inline-check
  input[type="checkbox"]:checked
  ~ .control-checkmark,
:host >>> .form-inline-check input[type="radio"]:checked ~ .control-checkmark {
  border-color: #2f779c;
}
:host
  >>> .form-inline-check
  input[type="checkbox"]:checked
  ~ .control-checkmark:after,
:host
  >>> .form-inline-check
  input[type="radio"]:checked
  ~ .control-checkmark:after {
  background-color: #2f779c;
  width: 10px;
  height: 10px;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  :host >>> .form-inline-check {
    position: relative;
    height: 16px;
  }

  :host >>> .control-checkmark {
    left: 14px;
    height: 16px;
    width: 16px;
  }
  :host
    >>> .form-inline-check
    input[type="checkbox"]:checked
    ~ .control-checkmark:after,
  :host
    >>> .form-inline-check
    input[type="radio"]:checked
    ~ .control-checkmark:after {
    height: 8px;
    width: 8px;
  }
}

:host >>> .bg-light-blue {
  background-color: $secondary-color-10 !important;
}

:host >>> .table {
  &.table-bordered {
    td,
    th {
      border: 1px solid #d5dce6 !important;
    }
  }
  &.td-bg-grey {
    td {
      background: #f7f7f7;
    }
  }
}

.bg-blue-secondary {
  background: $secondary-color;
}

.height-240 {
  height: 240px;
}

.document-fields {
  .document-uploded-wrp {
    display: flex;

    input[type="file"] {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      visibility: hidden;
    }

    .uploded-document-block {
      position: relative;
      max-width: 96px;
    }

    .upload-document-block {
      margin-left: 80px;
    }

    .delete-doc {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $purple-grey;
      position: absolute;
      right: -2px;
      top: -4px;
    }

    .uploded-document {
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.signature-wrapper {
  .signature-block {
    input[type="file"] {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      visibility: hidden;
    }

    .signature-info {
      border-top: 1px solid #2f779c;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
}

.file-upload {
  cursor: pointer;
}

.intructions {
  margin-top: 60px;
  p {
    line-height: 30px;
  }
}
