
.btn{
    padding: 20px 40px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
  }
  .primary-btn{
    color: #fff;
    background-color: #2F779C;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
  }