.forgot-pass-modal.changed-modal .modal-dialog {
    max-width: 550px;
  }
  
  .forgot-pass-modal.changed-modal .round-icon-wrp i {
    font-size: 40px;
  }
  
  
  .forgot-pass-modal .modal-dialog {
    max-width: 900px;
  }
  
  .forgot-pass-modal .modal-footer {
    padding-bottom: 100px;
  }
  