<section class="bg-blue admin-dashboard-wrp">
  <div class="container-fluid px-4">
    <div class="section-header">
      <h3 class="font-38 text-primary fw-semibold ">{{"Dashboard" | translate}}</h3>
    </div>
    <div class="row">
      <app-total-user-registrations></app-total-user-registrations>
      <app-earnings></app-earnings>
      <!-- <app-order-statistics></app-order-statistics> -->
      <app-vehicle-statistics></app-vehicle-statistics>
      <!-- <app-earning-per-post></app-earning-per-post> -->
      <app-recently-added-vehicles></app-recently-added-vehicles>
    </div>
  </div>
</section>
