<div class="row">
  <div class="col-6">
    <h3 class="text-primary font-24 mb-5 fw-semibold">
      {{ "Schedule a meeting to meet your vehicle" | translate }}
    </h3>
  </div>
  <div class="col-6 d-flex flex-column">
    <div class="d-flex flex-row-reverse">
      <div class="alert alert-danger py-2 rounded status-btn font-14 fw-semibold pending-btn" role="alert" *ngIf="(currentOrder.meetings.length > 0 && currentOrder.meetings[currentOrder.meetings.length - 1]?.is_accepted === null)">
        Pendiente
      </div>
      <div class="align-self-start py-2 rounded status-btn font-14 fw-semibold accepted-btn" role="alert" *ngIf="(currentOrder.meetings.length > 0 && currentOrder.meetings[currentOrder.meetings.length - 1]?.is_accepted === true)">
        Aceptado
      </div>
      <div>
        <div class="align-self-start py-2 rounded status-btn font-14 fw-semibold reschedule-btn mb-5" role="alert" *ngIf="(currentOrder.meetings.length > 0 && currentOrder.meetings[currentOrder.meetings.length - 1]?.is_accepted === false)">
          Reagendar
        </div>
        <div *ngIf="(currentOrder.meetings.length > 0 && currentOrder.meetings[currentOrder.meetings.length - 1]?.is_accepted === false)">
          <button
            class="btn primary-btn mt-3 mt-sm-0 btn-sm btn--small border-1 d-flex flex-start py-2 px-3"
            (click)="saveMeetingTime()"
          >
            <span
              class="spinner-border text-primary"
              *ngIf="loading"
              role="status"
              aria-hidden="true"
            ></span>
            <img
              src="../../../../../../assets/images/guidance_calendar.svg"
              height="auto"
              alt="Riku Marketplace"
            />
            <p class="font-16 fw-semibold ps-2">
              Reagendar Cita
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="meetingDetailForm" #scheduleMeetingForm="ngForm">
  <div class="row mb-3">
    <div class="col-12 col-md-4 col-lg-6 col-xl-3">
      <div class="form-group">
        <label class="mb-xl-3 mb-lg-2 mb-1 d-block">{{
          "Date" | translate
        }}</label>
        <img src="assets/images/calendar_purple.svg" class="input2-icon">
        <input
          #meetingDate
          class="form-control input-meeting-date ps-5"
          type="text"
          placeholder="{{ 'Enter Meeting Date' | translate }}"
          bsDatepicker
          [minDate]="minDate"
          [bsConfig]="{ dateInputFormat: 'DD-MMMM-YYYY' }"
          [ngClass]="{
            'is-invalid':
              scheduleMeetingForm.submitted &&
              !meetingDetailForm.controls['meeting_date'].valid,
            'input-meeting-date-time': completedStep > currentStep || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == null)
          }"
          formControlName="meeting_date"
          readonly
          [isDisabled]="completedStep > currentStep || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == null)"
        />
        <img
          (click)="meetingDate.click()"
          *ngIf="completedStep < currentStep"
          src="assets/images/dropdown_purple.svg"
          class="input-icon"
        />
        <div
          class="text-danger"
          *ngIf="
            scheduleMeetingForm.submitted &&
            meetingDetailForm.controls['meeting_date'].invalid
          "
        >
          {{ "Date is required" | translate }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-6 col-xl-3">
      <div class="form-group">
        <label class="mb-xl-3 mb-lg-2 mb-1 d-block">{{
          "Time" | translate
        }}</label>

        <img src="assets/images/clock_purple.svg" class="input2-icon">
        <input
          #meetingTime
          class="form-control input-meeting-date ps-5"
          type="text"
          placeholder="{{ 'Enter Meeting Time' | translate }}"
          readonly
          (focus)="completedStep < currentStep ? timeDrop.toggle() : ''"
          formControlName="meeting_time"
          [ngClass]="{
            'is-invalid':
              scheduleMeetingForm.submitted &&
              !meetingDetailForm.controls['meeting_time'].valid,
            'input-meeting-date-time': completedStep > currentStep || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == null)
          }"
        />
        <img
          src="assets/images/dropdown_purple.svg"
          *ngIf="completedStep < currentStep"
          (click)="timeDrop.toggle()"
          class="input-icon"
        />
        <div ngbDropdown #timeDrop="ngbDropdown" class="doropdown_radio">
          <ul ngbDropdownMenu class="dropdown-menu br-12 px-3 dropdown-scroll">
            <li>
              <div class="form-group search-grp">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ 'Search Time' | translate }}"
                    [(ngModel)]="searchTime"
                    [ngModelOptions]="{ standalone: true }"
                    readonly
                  />
                  <img
                    src="assets/images/vehicle-list/search-blue.svg"
                    class="search-icon"
                  />
                </div>
              </div>
            </li>
            <li *ngFor="let time of timeList | filter : searchTime">
              <a
                ngbDropdownItem
                class="dropdown-item"
                href="javascript:void(0)"
              >
                <div class="radio-check checkbox-check br-12 me-3">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="location"
                      (change)="setMeetingTime($event)"
                      id="{{ time }}"
                      value="{{ time }}"
                    />
                    <label class="form-check-label" for="{{ time }}">{{
                      time
                    }}</label>
                    <span class="dot-checkmark"></span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div
          class="text-danger"
          *ngIf="
            scheduleMeetingForm.submitted &&
            meetingDetailForm.controls['meeting_time'].invalid
          "
        >
          {{ "Time is required" | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6 col-md-4 col-lg-6 col-xl-6">
      <div class="form-group">
        <label
          class="mb-xl-3 mb-lg-2 mb-1 d-block"
          *ngIf="currentOrder.seller.type.indexOf('seller') > -1"
          >{{ "Location" | translate }}</label
        >
        <label
          class="mb-xl-3 mb-lg-2 mb-1 d-block"
          *ngIf="currentOrder.seller.type.indexOf('dealer') > -1"
          >{{ "dealer address" | translate }}</label
        >
        <ng-container
          *ngIf="
            currentOrder.seller.type.indexOf('dealer') > -1;
            else addressTemplate
          "
        >
          <input
            class="form-control"
            type="text"
            autocomplete="off"
            placeholder="{{ 'Enter Location' | translate }}"
            formControlName="meeting_location"
            [readOnly]="
              completedStep > currentStep ||
              currentOrder.seller.type.indexOf('dealer') > -1
            "
            [ngClass]="{
              'is-invalid':
                scheduleMeetingForm.submitted &&
                !meetingDetailForm.controls['meeting_location'].valid
            }"
          />
        </ng-container>
        <ng-template #addressTemplate>
          <input
            class="form-control map"
            type="text"
            placeholder="{{ 'Enter Location' | translate }}"
            formControlName="meeting_location"
            autocomplete="off"
            [readOnly]="
              completedStep > currentStep ||
              currentOrder.seller.type.indexOf('dealer') > -1 || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == null)
            "
            [ngClass]="{
              'is-invalid':
                scheduleMeetingForm.submitted &&
                !meetingDetailForm.controls['meeting_location'].valid
            }"
          />
        </ng-template>

        <!-- <img src="assets/images/location_purple.svg" class="input-icon" /> -->
        <div
          class="text-danger"
          *ngIf="
            scheduleMeetingForm.submitted &&
            meetingDetailForm.controls['meeting_location'].invalid
          "
        >
          {{ "Location is required" | translate }}
        </div>
      </div>
    </div>
    <div
      class="col-6 col-md-4 col-lg-6 col-xl-6"
      *ngIf="currentOrder.seller.type.indexOf('seller') > -1"
    >
      <div class="form-group">
        <label class="mb-xl-3 mb-lg-2 mb-1 d-block"
          >{{ "Place Reference" | translate }} ({{
            "Optional" | translate
          }})</label
        >
        <input

          class="form-control input-meeting-date-time"
          type="text"
          [readOnly]="completedStep > currentStep || currentOrder.seller.type.indexOf('dealer') > -1 || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == null)"
          formControlName="additional_address"
          placeholder="{{ 'Enter Place Reference' | translate }}"
          autocomplete="off"
        />
      </div>
    </div>
  </div>
  <div class="mt-5 d-sm-flex">
    <button
      class="btn primary-btn-outline btn-sm btn--small me-sm-3"
      (click)="setPreviousStep()"
    >
      {{ "Previous" | translate }}
    </button>
    <button
      class="btn primary-btn mt-3 mt-sm-0 btn-sm btn--small border-1"
      [disabled]="loading || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == null) || (currentOrder.meetings.length > 0 && currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == false)"
      (click)="saveMeetingTime()"
      *ngIf="completedStep <= currentStep"
    >
      <span
        class="spinner-border text-primary"
        *ngIf="loading"
        role="status"
        aria-hidden="true"
      ></span>
      <!-- {{ "Submit1" | translate }} -->
      {{ currentOrder.meetings?.[currentOrder.meetings.length - 1]?.is_accepted == false ? "Siguiente" : "Agendar" }}
    </button>
    <button
      class="btn primary-btn mt-3 mt-sm-0 btn-sm btn--small border-1"
      [disabled]="loading"
      (click)="setNextStep()"
      *ngIf="completedStep > currentStep"
    >
      <span
        class="spinner-border text-primary"
        *ngIf="loading"
        role="status"
        aria-hidden="true"
      ></span>
      {{ "Next" | translate }}
    </button>
  </div>
</form>

<ng-template #scheduledMeeting>
  <div class="modal-header position-relative border-0 pb-0 px-4 pt-3 border">
    <button
      type="button"
      class="btn-close p-4 custom-close-btn"
      (click)="modalRef.dismiss('Cross click')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body border-0 pt-0 px-5">
    <div class="d-flex justify-content-center border-3">
      <img src="assets/images/successfully.svg" alt="Success icon">
    </div>
    <h3 class="modal-title text-center w-100 text-purple fw-bold mb-3 font-26 pt-3">
      {{ "Meeting Scheduled Successfully" | translate }}
    </h3>
    <p
      class="text-purple text-center fw-medium font-15 mb-0 edit-number d-block pb-4 px-5"
    >
      {{ "Meeting details have been sent to the seller for approval" | translate }}
    </p>
    <div class="row justify-content-center">
      <div class="btn-grp mt-3 mb-3 d-flex justify-content-center">
        <button
          class="btn primary-btn next-btn font-16 fw-semibold complete-loan-btn custom-shadow"
          style="padding-inline: 65px;"
          (click)="modalRef.dismiss('Cross click')"
        >
          {{ "Ok" | translate }}
        </button>
        <!-- <button class="btn primary-btn-outline btn-lg ms-3" disabled>
          I'm Still Thinking
        </button> -->
      </div>
    </div>
  </div>
</ng-template>
