.policy {
    top: 293px;
    left: 241px;
    width: 1439px;
    height: 412px;
    color: var(--unnamed-color-624169);
    text-align: left;
    font: normal normal normal 16px/32px Lexend;
    letter-spacing: 0.16px;
    color: #624169;
    opacity: 1;
}