// $primary-color: #3B1144;
$primary-color: #4E1F4F;
// $secondary-color:#2F779C;
$secondary-color:#3C759A;
$secondary-light-color: #2F779C1A;
$thired-color:#89708F;
$white: #fff;
$black: #000;
$orange:#E98D69;
$red:#F14040;
$bg-purple:#4E1F4F;
$white-50:rgba(255, 255, 255 , 0.5);

// new variables
$orange:#E98D69;
$red:#F14040;
$bg-purple:#4E1F4F;
$white-50:rgba(255, 255, 255 , 0.5);
$bg-blue:#EEF4F7;
$light-purple:#994C98;
$light-purple-2:#624169;
$secondary-color-10:rgba(47, 119, 156, 0.1);
$secondary-color-05:rgba(47, 119, 156, 0.05);
$red-2:#EE3232;
$red-2-10:rgba(238, 50, 50 ,0.1);

$purple-grey:#B1A0B4;
$dark-orange:#EC8F67;
$orange-2:rgba(236, 143, 103 , 0.2);

// colors to the new theme
$light-gray: rgba(60, 117, 154, 0.06);
$deep-red: #ED1C24;
$violet: #9E438F;