<!-- <div class="col-lg-4 mt-4">
  <div class="bg-white br-12 p-4">
    <ng-container *ngIf="orderStats else loader;">
      <div class="cusotmer-heading d-flex align-items-start justify-content-between">
        <h5 class="font-18 text-primary fw-regular mt-2">Order Related</h5>
        <div class="form-group position-relative mb-0">
          <div ngbDropdown class="doropdown_radio">
            <button ngbDropdownToggle class="btn btn-white dropdown-toggle btn-dropdown text-primary font-12 fw-regular"
              type="button" id="filter" data-bs-toggle="dropdown" aria-expanded="false">
              {{ startDate | date: 'MMMM dd, yyyy' }} - {{ endDate | date: 'MMMM dd, yyyy' }} &nbsp;<img
                src="assets/images/calender.svg" class="input-icon">
            </button>
            <ul ngbDropdownMenu class="dropdown-menu dropdown-scroll vehicle-type-menu vehicle-dropdown-menu br-12 px-3">
              <li *ngFor="let filter of filters">
                <a ngbDropdownItem class="dropdown-item" href="javascript:void(0)" [ngClass]="{
                                'selected-dropdown-item':
                                orderStatFilter == filter
                              }" (click)="onChangeFilter(filter)">{{ filter }}</a>
                </li>
            </ul>
          </div>
        </div>
        <span bsDaterangepicker #odrp="bsDaterangepicker" placement="right" [bsConfig]="bsConfig"
        [bsValue]="bsRangeValue" (bsValueChange)="getDateValues($event)"></span>

      </div>
      <div class="cutomer-data-wrp">
        <div class="row mt-4">
          <div class="col-lg-3 border-right">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.total_orders }}</span>
              <span class="d-block font-14 mt-2">Total <br />orders</span>
            </p>
          </div>
          <div class="col-lg-4 border-right d-inline-flex justify-content-center">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.in_review }}</span>
              <span class="d-block font-14 mt-2">Vehicles in <br />review stage</span>
            </p>
          </div>
          <div class="col-lg-5 d-inline-flex justify-content-center">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.in_price_negotiation }}</span>
              <span class="d-block font-14 mt-2">vehicles in price <br />negotiation process</span>
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-3 border-right">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.delivered }}</span>
              <span class="d-block font-14 mt-2">Vehicles<br /> delivered</span>
            </p>
          </div>
          <div class="col-lg-4 border-right d-inline-flex justify-content-center">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.out_for_delivery }}</span>
              <span class="d-block font-14 mt-2">Vehicles out <br />for delivery</span>
            </p>
          </div>
          <div class="col-lg-5 d-inline-flex justify-content-center">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.in_vehicle_procedure }}</span>
              <span class="d-block font-14 mt-2">Vehicle in vehicular <br /> transfer process</span>
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-3">
            <p class="fw-regular font-14 text-start">
              <span class="small-data-count data-count font-16 text-secondary">{{ orderStats.cancelled }}</span>
              <span class="d-block font-14 mt-2">Canceled <br />orders</span>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div> -->
