@import "../../../../../variables";
@import "../../../../../function";

.view-vehicle {
  background-color: $bg-blue;
  padding-bottom: 80px;

  .jakay-container {
    .back-to-page {
      span {
        cursor: pointer;
        width: 45px;
        height: 45px;
        background-color: $white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include for-tablet-only {
          width: 35px;
          height: 35px;
          border-radius: 8px;
        }
      }
    }
  }

  &__details {
    & .car_details {
      & .car_model {
        font-size: 2.5rem;
        margin-bottom: 14px;
      }

      & .car_price {
        font-size: 3.375rem;
      }
    }

    & .details_labels {
      label {
        font-size: 1.25rem;
        background-color: $secondary-color-10;
        padding: 10px 5px;
        min-width: 140px;
        border-radius: 5px;
        text-align: center;
        color: $secondary-color;
      }
    }

    & .details-btn-grp {
      & *+* {
        margin-left: 22px;
      }

      .btn-outline-purple {
        border: 1px solid $bg-purple;

        background-color: transparent;
        color: $bg-purple;
        padding: 12px 5px;
        min-width: 160px;
        font-size: 18px;
        border-radius: 8px;
      }

      .btn-outline-red {
        border: 1px solid $red-2;
        background-color: transparent;
        color: $red-2;
        padding: 12px 5px;
        min-width: 160px;
        font-size: 18px;
        border-radius: 8px;
      }
    }

    & //  swipper start //

    .swiper-container-wrapper {
      .swiper-container {
        overflow: hidden;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &-wrapper {
          display: flex;
          flex-flow: column nowrap;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: transparent !important;
          background-size: 46px;
          height: 46px;
          width: 46px;
          background-repeat: no-repeat;
        }
        .swiper-button-prev{
          background-image: url('../../../../../assets/images/swiper-gallary/swiper-left.png') !important;
        }
        .swiper-button-next{
          background-image: url('../../../../../assets/images/swiper-gallary/swiper-right.png') !important;
        }
      }

      .swiper-slide {
        text-align: center;
        border-radius: 32px;

        & img {
          width: 100%;
          height: 460px;
          border-radius: 32px;
          object-fit: cover;
        }
      }

      .gallery-top {
        position: relative;
        width: 100%;
      }

      .gallery-thumbs {
        width: 100%;
        // height: 25vh;
        padding-top: 10px;
        margin-top: 30px;

        .swiper-wrapper {
          flex-direction: row !important;
          // justify-content: space-between;
        }

        .swiper-slide {
          width: 17%;
          height: 100% !important;
          border-radius: 15px;
          background-color: transparent;

          & img {
            height: 80px;
            border-radius: 15px;
            object-fit: cover;
          }
        }

        .swiper-slide-thumb-active img {
          box-shadow: 0px 6px 10px #2f769b80;
          border: 1px solid #2f779c;
          border-radius: 15px;
          padding: 2px;
          background-color: transparent;
        }
      }
    }

    //   swipper end//
  }
}

//  basic section //
.basic {
  &-box {
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h5 {
      font-size: 1.9rem;
      margin-top: 14px;
    }
  }
}

// specification section //
.specifications {
  &__wrapper {
    background-color: $bg-blue;
    padding: 4rem 4.9rem;
    border-radius: 30px;

    &--img {
      width: 70px;
    }

    &--text {
      label {
        color: $primary-color;
        font-size: 1rem;
      }

      h5 {
        color: $thired-color;
        font-size: 1.7rem;
      }
    }
  }
}

// highlights section //
.highlights {
  margin-bottom: 80px;

  &__box {
    padding: 48px 58px;
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 30px;

    &--list {
      padding: 0;
      margin: 0;
      border: 0;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }


    &--items {
      background-image: url(../../../../../assets/images/view_vehicle/single_green_check.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 13px;
      padding-left: 30px;
      margin: 10px 0;
      list-style: none;
    }
  }
}

p {
  margin: 0px;
}

.dealer-basic-box {
  width: fit-content
}

.custom-slider1 {
  & .ngx-slider {
    .ngx-slider-bar {
      background: rgb(235, 164, 58);
    }

    & .ngx-slider-selection {
      background: rgb(216, 213, 209);
    }

    & .ngx-slider-pointer {
      background: rgb(235, 164, 58)
    }

  }
}

.swiper-customise-modal img {
  height: 600px !important;
}
