@import '../../../../function';
@import '../../../../variables';


.input-meeting-date {
  background-color: white;
}

.back-to-page span {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doropdown_radio {
  &.doropdown_selection {
    position: absolute;
    top: 41px;
    right: 5px;

    .btn {
      width: 140px;

      &.dropdown-toggle {
        &:after {
          right: 10px;
        }
      }
    }
  }

  &.dropdown-images {
    li {
      a {
        .form-check-inline label {
          padding-left: 10px;
          padding: 10px;
        }
      }
    }
  }

  .btn {
    padding: 15px 20px;
    width: 100%;
    position: relative;
    text-align: left;

    &.dropdown-toggle {
      &:after {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-top: 2px solid $secondary-color;
        transform: rotate(225deg);
        border-left: 2px solid $secondary-color;
        border-right: unset;
        border-bottom: unset;
        top: 42%;
        right: 25px;
        position: absolute;
      }
    }
  }

  ul {
    box-shadow: 0px 3px 16px #00000029;
    border: 0px;
  }

  li {
    margin-top: 15px;

    a {
      border: 0px;
      padding: 0px;

      &:hover {
        border: 0px;
      }

      .form-check-inline label {
        text-align: left;
        padding: 12px 20px;
        padding-left: 45px;
        white-space: normal;
      }
    }
  }
}

.search-grp {
  input {
    padding-left: 40px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
}

.search-grp input.form-control {
  padding-left: 45px !important;
  min-width: 230px;
  border: 1px solid rgba(137, 112, 143, 0.5);
}
.search-grp .search-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.search-grp .search-btn {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}
