<section class="bg-blue admin-dashboard-wrp dealer-dashboard-wrp">
  <div class="jakay-container">
    <div class="container-fluid px-4 cusotmer-heading">
      <div class="section-header">
        <h3 class="font-38 text-primary fw-semibold ">{{ 'Dashboard' | translate }}</h3>
        <!-- <p class="font-14 text-primary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p> -->
      </div>
      <app-earnings></app-earnings>
      <app-vehicle-statistics></app-vehicle-statistics>
      <app-customer-and-recent-vehicles></app-customer-and-recent-vehicles>
    </div>
  </div>
</section>
