@import "../../../../variables";
@import "../../../../function";
@import "../../sellers/seller-vehicles/vehicle-list/vehicle-list.component";


// @import "add-vehicle";

.vehicle {
    &__listing {
        background-color: $bg-blue;
        padding-bottom: 80px;

        &--search {
            & .vehicle-dropdown-menu li a.dropdown-car-brand {
                padding: 12px 0;
                color: $primary-color;
                text-align: center;
                border: 0.5px solid $thired-color;
                border-radius: 12px;
            }

            & .make-brand-logo {
                & * {
                    margin-inline: 2px;
                }

                & ul {
                    box-shadow: none;
                }

                & .make-logo {
                    width: 100px;
                    height: 100px;
                    background-color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;

                    &:hover,
                    :active {
                        box-shadow: 0px 0px 6px #2f779c80;
                    }
                }
            }

            & .doropdown_radio {
                &.dropdown-images li a .form-check-inline label {
                    padding: 12px 20px;
                    // padding-left: 45px;
                }

                & .search-grp {
                    & input.form-control {
                        border: 0.5px solid $thired-color;
                        min-width: 230px;
                    }

                    & .search-icon {
                        left: 4%;
                    }
                }
            }
        }

        &--result {
            .doropdown_radio .btn {
                background-color: transparent;
                padding: 5px 20px;

                &::after {
                    right: 0px;
                }
            }

            .result-pills {
                padding-bottom: 60px;

                & *+* {
                    margin-left: 1.125rem;
                }

                & .pill {
                    padding: 15px 20px;
                    background-color: $secondary-color-05;
                    border-radius: 12px;
                    color: $secondary-color;
                    vertical-align: middle;
                    display: inline-block;
                    margin-bottom: 10px;
                }
            }
        }

        &--cards {
            & .listing_cards {
                border-radius: 32px;

                &:hover {
                    box-shadow: 0px 34px 50px -4px rgba(47, 119, 156, 0.51);
                    border-radius: 32px;
                    transition: all ease-in-out 0.5s;
                }
            }

            & .card_img {
                border-top-left-radius: 32px;
                border-top-right-radius: 32px;

                & img {
                    width: 100%;
                }
            }

            & .card_text-box {
                background-color: $white;
                border-bottom-left-radius: 32px;
                border-bottom-right-radius: 32px;

                & .details_labels {
                    & .details__label {
                        font-size: 1rem;
                        background-color: $secondary-color-10;
                        padding: 5px;
                        min-width: 100px;
                        border-radius: 5px;
                        text-align: center;
                        color: #2f779c;
                    }
                }

                & .details_location-date {
                    p img {
                        width: 16px;
                    }
                }

                & .details-btn-grp {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0;
                    border-top: 1px solid #dee2e6;

                    & .btn-outline-purple,
                    .btn-outline-red {
                        width: 50%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.search-grp {
    & input.form-control {
        padding-left: 45px !important;
    }

    & .search-icon {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
    }

    & .search-btn {
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
    }
}

.pagination {
    &-arrow {
        padding: 5px;
        border: 2px solid $primary-color;
        background-color: transparent;
        border-radius: 8px;

        &.active {
            background-color: $primary-color;
        }
    }
}

.delete-vehicle-modal {
    &.changed-modal {
        .modal-dialog {
            max-width: 550px;

            @include for-phone-only {
                max-width: 380px;
                margin: 0 auto;
            }
        }
    }

    & .round-icon-wrp {
        background-color: $red-2-10;

        & img {
            width: 50px;
        }
    }

    & .btn-outline-purple {
        border: 1px solid $thired-color;
        border-radius: 8px;
    }
}

.condition-tabs {
    & .tabs-list {
        padding: 8px;
        width: fit-content;
        background-color: $white;
    }

    & .nav-link {
        min-width: 150px;
        padding: 12px 5px;
        border-radius: 12px;
        color: $thired-color;
        font-size: 1.125rem;

        &.active {
            background-color: $secondary-color;
            color: $white;
        }
    }
}

.buyer-cards {
    & .card_img-fav {
        width: 35px;
        height: 35px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        top: 5%;
        right: 3%;
        padding: 4px 9px;
    }
}

// range slider for price //
.price-range-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;

    & .price-range-input {
        --webkit-appearance: none;
        width: 100%;
        position: relative;

        &::before {
            content: "";
            background-color: $orange;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            position: absolute;
            top: -5px;
        }

        &:focus {
            outline: none;
            border: none !important;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 2px;
            cursor: pointer;
            background: linear-gradient(90deg,
                    #e98d69 var(--range-progress),
                    #b1a0b4 var(--range-progress));
            border-radius: 1rem;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;

            appearance: none;
            // border: 5px solid #6BA132;
            box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
            border-radius: 50%;
            background: #e98d69;
            cursor: pointer;
            height: 13px;
            width: 13px;
            transform: translateY(calc(-50% + 1px));
        }
    }

    & .price-tooltip {
        position: absolute;
        top: -25px;

        & span {
            position: absolute;
            text-align: center;
            display: block;
            line-height: 1;
            padding: 4px 9px;
            // padding: 5px;
            color: #e98d69;
            border-radius: 0.125rem;
            background: #fff;
            font-size: 1.25rem;
            border-radius: 12px;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 0px 3px 6px #00000029;
            min-width: 75px;

            &:before {
                position: absolute;
                content: "";
                left: 50%;
                bottom: -8px;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-top-color: #fff;
            }
        }
    }
}

// range slider code end //

.seller-listing {
    & .doropdown_radio li a .form-check-inline {
        & label {
            padding-left: 40px !important;
            padding: 0;
            border: 0 !important;
            background-color: transparent !important;
            font-size: 16px;
        }

        & .dot-checkmark {
            left: 5px;
        }
    }

    & hr {
        margin: 0;
        border-bottom: 1px solid $thired-color;
        min-width: 250px;
    }
}

.buyer-filter-dropdown {
    & .filter-dropdown {
        height: 600px;
        overflow-y: scroll;
    }

    & .doropdown_radio li a .form-check-inline {
        & label {
            padding-left: 20px !important;
        }
    }

    & hr {
        margin: 0;
        border-bottom: 1px solid $thired-color;
        min-width: 250px;
    }

    & .inner-dropdown {
        height: 200px;
        overflow-y: scroll;
    }

    & .filter-btn-grp {
        position: sticky;
        padding: 10px;
        bottom: 0;
        width: 100%;
        background-color: $white;
    }
}

// seller info section on buyer vehicle listing page //

.seller__info {
    margin-bottom: 80px;

    &--box {
        // max-width: 820px;  
        background-color: $white;
        // display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 3px 16px #00000029;
        border-radius: 12px;
        padding: 1.875rem;

        & .seller-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        & .rating {
            background-color: $secondary-color-10;
            padding: 5px 15px;
            border-radius: 32px;
        }

        & .contact-details {
            & *+* {
                margin-left: 3rem;
            }

            & .contact-wrp {
                width: 65px;
                height: 65px;
                background-color: $secondary-color-10;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.vehicle__selection {
    & .form-check-inline {
        width: unset;

        & label {
            padding-right: 50px;
        }

        & .check-checkmark {
            z-index: 1;
        }
    }

    & .btn-grp {
        margin-top: 80px;
        padding-bottom: 80px;

        & button {
            min-width: 230px;
            border: 1px solid;
        }
    }
}

.buyer--listing {
    & .doropdown_radio.dropdown-images li a .form-check-inline label {
        padding-left: 20px;
    }
}



.vehicle_listed {
    top: 539px;
    left: 240px;
    width: 491px;
    height: 35px;
    color: var(--unnamed-color-3b1144);
    text-align: left;
    font: normal normal 600 24px/62px Lexend;
    letter-spacing: 0.28px;
    color: #3B1144;
    opacity: 1;
}

.unsave {
    top: 544px;
    left: 1064px;
    height: 18px;
    text-align: left;
    font: normal normal normal 14px/18px Lexend;
    letter-spacing: 0.14px;
    color: #E98D69;
    opacity: 1;
}

.custom-slider {
    .ngx-slider {
        margin-top: 25px !important;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            background-color: $orange;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }

        & .ngx-slider-selection {
            background-color: $orange !important;
        }

        & .ngx-slider-pointer {
            width: 15px !important;
            height: 15px !important;
            border-radius: 50%;
            background-color: $orange;

            top: -6px;

            &:focus-visible,
            &:focus,
            &:active {
                outline: none;
                border: 2px solid $white !important;
            }

            &::after {
                display: none;

            }
        }

        & .ngx-slider-bubble {
            text-align: center;
            display: block;
            line-height: 1;
            padding: 4px 9px;
            color: #e98d69;
            border-radius: 0.125rem;
            background: #fff;
            font-size: 1rem;
            border-radius: 12px;
            transform: translate(-50%, 0);
            box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
            min-width: 75px;

            &::before {
                position: absolute;
                content: "";
                left: 50%;
                bottom: -8px;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-top-color: #fff;
            }
        }

        .ngx-slider-bubble.ngx-slider-limit {
            bottom: -25px !important;
            min-width: unset;
            padding: unset;
            background-color: transparent;
            box-shadow: none;
            font-size: 1rem;

            &::before {
                display: none;
            }
        }

    }

}

.vehicle__listing--cards .card_img {
    height: 200px;
    width: 100%;
}

.vehicle__listing--cards .card_img img.fav-icon {
    object-fit: contain;
}

.dropdown-item.make-brand-logo.active,
.dropdown-item.make-brand-logo:active {
    background-color: transparent !important;
}

.user-img-wrp {
    width: 70px;
    height: 70px;
    border: 3px solid $white;
    box-shadow: 0px 0px 0px 1px $red;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
