@import "../../../../../function";
@import "../../../../../variables";

.admin {
  &--listing {
    .condition-tabs {
      & .nav-link {
        min-width: 150px;
        padding: 12px 40px;
        font-size: 1rem;
      }
    }

    &-table {
      box-shadow: 0px 3px 10px #B1A0B470;

      table {
        thead {
          border-radius: 6px;
          background: rgba($color: $secondary-color, $alpha: 0.1);

          th {
            color: #191919;
            font-size: 14px;
            padding: 15px 10px;
            font-weight: 600;
            cursor: pointer;

            span {
              display: flex;
              align-items: center;
              padding: 0px;
            }
          }

          th:first-child {
            border-radius: 10px 0 0 10px;
            padding-left: 20px;
          }

          th:last-child {
            border-radius: 0 10px 10px 0;
            padding-right: 20px;
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid #D5DCE6;

            &:last-child {
              border-bottom: 0px transparent;
            }
          }

          td {
            vertical-align: middle;
            padding: 15px 10px;


            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-right: 20px;
            }

            .small-img-list {
              border-radius: 12px;
              overflow: hidden;
              width: 40px;
              height: 40px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            label {
              font-size: 14px;
              font-weight: 400;
              border-radius: 25px;
              padding: 8px 15px;
              background-color: rgba($color: $secondary-color, $alpha: 0.1);
              color: #46BC39;
            }
          }
        }
      }
    }
  }
}

.switch-wrp {
  input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
      position: fixed;
  }

  label.switch {
      cursor: pointer;
      text-indent: -9999px;
      width: 40px;
      height: 18px;
      display: block;
      border-radius: 10px;
      position: relative;
  }

  label:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      background: #fff;
      border-radius: 14px;
      transition: 0.1s;
  }

  input:checked+label {
      background-color: $secondary-color !important;
  }

  input:checked+label:after {
      right: 2px;
      left: unset;

  }

  label:active:after {
      width: 40px;
  }
}
