<section class="section order__listing buyer--listing bg-blue admin--listing">
  <div class="jakay-container admin-container">
    <div class="d-flex justify-content-between align-items-center section-header">
      <div class="">
        <h3 class="mb-3 font-38 text-primary fw-semibold">{{"Orders Management" | translate}}</h3>
      </div>
    </div>
    <div class="vehicle__listing--search">
      <label class="mb-xl-3 mb-lg-2 mb-1 d-block">{{"Search" | translate}}</label>
      <div class="row">
        <div class="col-lg-9 col-md-8">
          <div class="form-group search-grp">
            <div class="position-relative">
              <input type="text" class="form-control border-0" [(ngModel)]="searchKeyword"
                (keyup.enter)="setSearchText(searchKeyword)" placeholder="{{'Search by Vehicle Make, Model or Year' | translate}}" />
              <img src="assets/images/vehicle-list/grey-search.svg" class="search-icon" />
              <button class="search-btn" (click)="setSearchText(searchKeyword)">
                <img src="assets/images/vehicle-list/search-btn.svg" alt="search-btn" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vehicle__listing--result seller-listing mt-5">
      <div class="d-flex justify-content-between align-items-center mb-5">
        <div class="d-flex align-items-center">
          <h3 class="text-primary fw-semibold font-28">{{"Search Results" | translate}}</h3>
          <a href="javascript:void(0)" *ngIf="searchApplied" (click)="searchText = ''; clearAll()"
            class="ms-4 text-secondary text-underline">{{"Clear All Filters" | translate}}</a>
        </div>
      </div>
      <div class="result-pills" *ngIf="searchApplied">
        <span class="pill">{{ searchText }}
        </span>
      </div>
    </div>
    <div class="condition-tabs">
      <div class="form-group">
        <div class="tabs-list br-12">
          <ul class="nav nav-pills" id="Condition-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Condition-all-tab" [ngClass]="{ active: selectedTab == 'in_progress'}"
                (click)="selectTab('in_progress')" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="Condition-all" aria-selected="true">
                {{"In Progress" | translate}}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Condition-approval-tab" [ngClass]="{ active: selectedTab == 'past' }"
                (click)="selectTab('past')" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="Condition-approval" aria-selected="false">
                {{"Past" | translate}}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="order__listing--cards buyer-cards">
        <div class="tab-content pb-5">
          <div class="tab-pane fade show active" id="Condition-all" role="tabpanel" aria-labelledby="Condition-all-tab">
            <div class="table-responsive admin--listing-table bg-white br-12 p-3">
              <table class="table mb-0 p-1">
                <thead>
                  <th (click)="setSorting('id')">
                    <span>{{"Order ID" | translate}}
                      <img src="../../../../../assets/images/sorting-arrow.svg" class="ms-2" />
                    </span>
                  </th>
                  <th><span>{{"Image" | translate}}</span></th>
                  <th (click)="setSorting('vehicle')"><span>{{"Vehicle" | translate}}
                      <img src="../../../../../assets/images/sorting-arrow.svg" class="ms-2" />
                    </span></th>
                  <th (click)="setSorting('location')">
                    <span>
                      {{"Location" | translate}}
                      <img src="../../../../../assets/images/sorting-arrow.svg" class="ms-2" />
                    </span>
                  </th>
                  <th>
                    <span>{{"Order Date" | translate}}
                    </span>
                  </th>
                  <th>
                    <span>{{"Total Amount" | translate}}
                    </span>
                  </th>
                  <th><span>{{"Order Status" | translate}}</span></th>
                  <th><span>{{"Payment To Seller" | translate}}</span></th>
                  <th><span>{{"Actions" | translate}}</span></th>
                </thead>
                <tbody>
                  <ng-container *ngIf="!loading; else loadingTemplate">
                    <ng-container *ngIf="orderList.length > 0; else noRecordsTemplate">
                      <tr *ngFor="let order of orderList; let i = index">
                        <td>{{ order.id.slice(0, 6) | uppercase}}</td>
                        <td>
                          <div class="small-img-list">
                            <ng-container *ngIf="order.vehicle.cover_img">
                              <img [src]="order.vehicle.cover_img" />
                            </ng-container>
                            <ng-container *ngIf="!order.vehicle.cover_img">
                              <img src="assets/images/no_preview.jpeg" />
                            </ng-container>
                          </div>
                        </td>
                        <td>{{ order.vehicle.make }}, {{ order.vehicle.model }}, {{
                          order.vehicle.year }}</td>
                        <td>{{ order.vehicle.location.province | titlecase }}</td>
                        <td>{{ order.created_at | date: 'dd-MMM-YYYY' }}</td>
                        <td>$ {{ order.total_amount | spanishNumber }}</td>
                        <td>
                          <label class="pending-approval"
                            *ngIf="order.status != 'cancelled' && order.status != 'confirmed' && order.status != 'rejected'">{{"In Progress" | translate}}</label>
                          <label class="rejected" *ngIf="order.status == 'cancelled' || order.status == 'rejected'">{{ order.status == 'cancelled' ? ("Canceled" | translate) : ("Rejected" | translate)}}</label>
                          <label class="approved" *ngIf="order.status == 'confirmed'">{{"Complete" | translate}}</label>
                        </td>
                        <td>
                          <ng-container
                            *ngIf="order.payment_status === 'success' && order.status != 'cancelled' && order.status != 'delivered' && order.status != 'confirmed' && order.status != 'rejected'">
                            <div ngbDropdown #myStatusDrop="ngbDropdown" class="doropdown_radio" [autoClose]="'outside'">
                              <button ngbDropdownToggle
                                class="btn btn-white dropdown-toggle btn-dropdown text-primary font-14 fw-regular payment-to-seller-btn"
                                type="button" id="vehicle-type" data-bs-toggle="dropdown" aria-expanded="false" (click)="isPaid = false">
                                <ng-container>
                                  {{ order.is_paid ? ('Paid' | translate): ('Pending' | translate) }}
                                </ng-container>
                              </button>
                              <ul ngbDropdownMenu class="dropdown-menu vehicle-type-menu vehicle-dropdown-menu br-12 px-3">
                                <li>
                                  <a ngbDropdownItem class="dropdown-item" href="javascript:void(0)">
                                    <div class="radio-check checkbox-check br-12 me-3" (click)="onChangeStatus('pending')">
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="payment_to_seller_{{i}}" id="pending_{{i}}"
                                          value="pending" [checked]="!isPaid || order.is_paid == false" />
                                        <label class="form-check-label" for="pending_{{i}}">{{"Pending" | translate}}</label>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                                <li>
                                  <a ngbDropdownItem class="dropdown-item" href="javascript:void(0)">
                                    <div class="radio-check checkbox-check br-12 me-3" (click)="onChangeStatus('paid')">
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="payment_to_seller_{{i}}" id="paid_{{i}}" value="paid"
                                          [checked]="isPaid || order.is_paid" />
                                        <label class="form-check-label" for="paid_{{i}}">{{"Paid" | translate}}</label>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                                <li>
                                  <a class="dropdown-item btn primary-btn text-center text-white py-3"
                                    (click)="updatePaymentStatus(i); myStatusDrop.close();" href="javascript:void(0)">{{"Submit" | translate}}</a>
                                </li>
                              </ul>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="order.payment_status === 'success' && (order.status == 'delivered' || order.status == 'confirmed')">
                            <label class="approved" *ngIf="order.is_paid">{{"Paid" | translate}}</label>
                            <label class="approved" *ngIf="!order.is_paid">{{"Pending" | translate}}</label>
                          </ng-container>
                        </td>
                        <td class="action-class">
                          <a href="javascript:void(0)" *ngIf="modulePermissions.can_view_details" routerLink="/admin/orders/details/{{
                              order.id
                            }}" class="p-2">
                            <img src="assets/images/eye-open.svg" /></a>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-template #noRecordsTemplate>
                      <tr class="text-center">
                        <td colspan="14">{{"No records found" | translate}}</td>
                      </tr>
                    </ng-template>
                  </ng-container>
                  <ng-template #loadingTemplate>
                    <tr class="text-center">
                      <td colspan="14">
                        <app-loader></app-loader>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <pagination *ngIf="paginationData?.total_pages && !loading" [paginationData]="paginationData"
          (selectedPage)="jumpToThePage($event)">
        </pagination>
      </div>
    </div>
  </div>
</section>
