<div class="modal-header border-0">
  <button
    type="button"
    class="btn-close p-md-4 p-2"
    data-bs-dismiss="modal"
    (click)="activeModal.dismiss('cancel')"
    aria-label="Close"
  ></button>
</div>
<div>
  <div class="modal-body border-0">
    <div>
      <h3 class="modal-title text-center w-100 text-primary fw-semibold mb-2">
        {{blogData.is_published?('Publish' | translate):('Unpublish' | translate)}} {{"Blog" | translate}}
      </h3>
      <p class="text-center font-14 text-primary-light mb-3">
        {{"Are you sure you want to" | translate}} {{blogData.is_published?('publish' | translate):('unpublish' | translate)}} {{"this blog" | translate}}?
      </p>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center border-0 mb-5">
    <button
      class="btn btn-outline-purple"
      (click)="activeModal.dismiss('cancel')"
      type="button"
    >
      No
    </button>
    <button
      type="submit"
      class="btn primary-btn"
      data-bs-dismiss="modal"
      data-bs-toggle="modal"
      (click)="onSubmit()"
      data-bs-target="#deleteconfirmModal"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      {{"Yes" | translate}}, {{blogData.is_published?('publish' | translate):('unpublish' | translate)}}
    </button>
  </div>
</div>
